name: CI
on:
  push:
jobs:
  lint-dockerfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Lint Dockerfile
        uses: docker://hadolint/hadolint:latest-debian
        with:
          entrypoint: hadolint
          args: Dockerfile
  docker-file-security:
    needs: lint-dockerfile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: docker version
      - name: Install clair-scanner
        run: |
          sudo curl -L https://github.com/arminc/clair-scanner/releases/download/v8/clair-scanner_linux_amd64 -o /usr/local/bin/clair-scanner
          sudo chmod +x /usr/local/bin/clair-scanner
      - run: docker build -t temporary-helm3-github-action-docker-image-name-rng .
      - run: docker images
      - run: mkdir -p $(echo "./clair/docker.pkg.github.com/${GITHUB_REPOSITORY}" | tr '[:upper:]' '[:lower:]')
      - run: docker-compose -f .docker/security/docker-compose.yml -p clair-ci up -d
      - run: sleep 10
      - run: echo -e "temporary-helm3-github-action-docker-image-name-rng" | xargs -I % sh -c 'clair-scanner --ip 172.17.0.1 -r "./clair/%.json" -l ./clair/clair.log % || (echo "% is vulnerable" && exit 1)'
      - run: docker-compose -f .docker/security/docker-compose.yml -p clair-ci down
      - run: docker images
  tests-exec-executed:
    needs: docker-file-security
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./
        env:
          exec: echo -e "whoop whoop" $GITHUB_WORKSPACE/foo.bar
          kubeconfig: tada
      - run: cat $GITHUB_WORKSPACE/foo.bar
  tests-helm-works:
    needs: docker-file-security
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./
        env:
          exec: helm version
          kubeconfig: tada
  tests-kubeconfig-cleanedup:
    needs: docker-file-security
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./
        env:
          exec: touch ./foo.bar
          kubeconfig: tada
      - run: |
          if [ -e "~/.kube/config" ]; then
              exit 1
          else
              exit 0
          fi
  tests-kubeconfig-not-cleanedup:
    needs: docker-file-security
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./
        env:
          exec: uptime
          kubeconfig: tada
          kubeconfig_cleanup: false
      - run: |
          if [ -e "~/.kube/config" ]; then
              exit 0
          else
              exit 1
          fi
